%h1 Things

= javascript_include_tag 'things'

=form_for :thing do |f|
  =f.text_field :name, :class => 'select'

%table
  %tr
    %th= "Name"
    %th
    %th
  
  - @things.each do |thing|
    %tr{id: thing.id}
      %td= thing.name
      %td= link_to "Edit", edit_thing_path(thing)
      %td= link_to "Destroy", thing, :confirm => "Are you sure?", :method => :delete
      
=link_to "New Thing", new_thing_path

